@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
body{
    background-color: #eeeeee;
    font-family: 'Open Sans',serif;
    font-size: 14px;


}

.mt-100{
    margin-top: 150px;
}

.filter-group {
    border-bottom: 1px solid #e4e4e4;
}

.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.37rem;
}

.card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.filter-group .card-header {
    border-bottom: 0;
}

.icon-control {
    margin-top: 6px;
    float: right;
    font-size: 80%;
}

.list-menu {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.list-menu a {
    color: #343a40;
}

a {

    text-decoration: none !important;
    background-color: transparent;
}


.checkbox-btn {
    position: relative;
}

.checkbox-btn input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}


.checkbox-btn input:checked ~ .btn {
    border-color: #3167eb;
    background-color: #3167eb;
    color: #fff;
}

.btn-light {
    display: inline-block;
    font-weight: 600;
    color: #343a40;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #eee;
    border: 1px solid #eee;
    padding: 0.45rem 0.85rem;
    font-size: 10px;
    line-height: 1.5;
    border-radius: 0.37rem;

}

.btn-light:hover {
    background-color: #fff;
    border-color: #989898;
}


.btn-medium {
    font-size: 12px;
    padding: 10px 22px;
    display: inline-block;
    margin-right: 20px;
    letter-spacing: 2px;

    border: 1px solid #157af6;
    width: 100%;
}

.highlight-button:hover {
    background-color: #157af6;
    border: 2px solid #157af6;
    color: #fff;
}

.custom-control {
    position: relative;
    display: block;
    min-height: 1.5rem;
    padding-left: 1.5rem;
}


.price-input{
    width: 100%;
    display: flex;
    margin: 30px 0 35px;
}
.price-input .field{
    display: flex;
    width: 100%;
    height: 45px;
    align-items: center;
}
.field input{
    width: 100%;
    height: 100%;
    outline: none;
    font-size: 13px;
    margin-left: 12px;
    border-radius: 5px;
    text-align: center;
    border: 1px solid #999;
    -moz-appearance: textfield;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.price-input .separator{
    width: 130px;
    display: flex;
    font-size: 19px;
    align-items: center;
    justify-content: center;
}
.slider{
    height: 5px;
    position: relative;
    background: #ddd;
    border-radius: 5px;
}
.slider .progress{
    height: 100%;
    left: 0%;
    right: 0%;
    position: absolute;
    border-radius: 5px;
    background: #17A2B8;
}
.price-input{
    margin: 0;
}
.card-body{
    padding: 0 20px;
    padding-bottom: 20px;
}
.range-input{
    position: relative;
}
.range-input input{
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: red;
    pointer-events: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
input[type="range"]::-webkit-slider-thumb{
    height: 17px;
    width: 17px;
    border-radius: 50%;
    background: #17A2B8;
    pointer-events: auto;
    -webkit-appearance: none;
    box-shadow: 0 0 6px rgba(0,0,0,0.05);
}
input[type="range"]::-moz-range-thumb{
    height: 17px;
    width: 17px;
    border: none;
    border-radius: 50%;
    background: #17A2B8;
    pointer-events: auto;
    -moz-appearance: none;
    box-shadow: 0 0 6px rgba(0,0,0,0.05);
}


h6{
    color: #135EAC;
    font-weight: 700;
}
.select-filter{
    width: 100%;
    padding: 4px 0;
    border-radius: 7px;
}
.group{
    background-color: #CBC2B9;
    width: 300px;
    margin: 20px auto  50px auto;
    height: 10px;
    border-radius: 5px;
    box-shadow: inset 0 1px 2px #9d968f;
    position: relative;
}
.range-input input{
    -webkit-appearance: none;
    position: absolute;
    width: 100%;
    height: 5px;
    margin: 0;
    background-color: transparent;
    transform: translateY(2px);
    pointer-events: none;
}
.range-input input::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 17px;
    height: 17px;
    background-color: #135EAC;
    border: 3px solid #a7c9ee;
    border-radius: 50%;
    box-shadow: inset 0 1px 2px #135EAC,
    0 0 1px #5b91ca;
    pointer-events: auto;
}
.progress{
    position: absolute;
    height: 100%;
    left: 0;
    right: 0;
    background-image: repeating-linear-gradient(
            -45deg, #135EAC  0, #1a8eec 3px,
            #2e5681  3px, #135EAC  6px
    );
    border-radius: 5px;
    background-attachment: fixed;
}
.range-text div{
    position: absolute;
    background-color: #135EAC;
    color: #eee;
    font-size: 10px;
    padding: 5px;
    left: 0;
    text-align: center;
    border-radius: 3px;
    top: 15px;
    transform: translateX(-50%);
}
.range-text .text-max{
    left: unset;
    right: 0;
    transform: translateX(50%);
}
