.fileupload {
    display: none;
}

.inp:focus {
    border: 1px solid #56A1EE;
}
.group-bt.two-bt .btn-send {
    float: right;
    background: #4DB848;
}
.control-last{
    display: flex;
    align-items: center;
}
