
/*-- / --*/


/*-- checkout --*/

#cartPage .checkout h2 {
    font-size: 1em;
    color: #212121;
    text-transform: uppercase;
    margin: 0 0 3em;
}
.events-none{
    pointer-events: none;
    opacity: 0.3;
}
#cartPage .checkout h2 span {
    color: #3399cc;
}

#cartPage table.timetable_sub {
    width: 100%;
    margin: 0 auto;
}

#cartPage .timetable_sub thead {
    background: #004284;
}

#cartPage .timetable_sub th {
    background: #212121;
    color: #fff !important;
    text-transform: capitalize;
    font-size: 13px;
    border-right: 1px solid #ded2d2;
}

#cartPage .timetable_sub th,
#cartPage .timetable_sub td {
    text-align: center;
    padding: 7px;
    font-size: 14px;
    color: #212121;
}
#cartPage .img-responsive{
    width: 200px;
}
#cartPage .timetable_sub td {
    border: 1px solid #CDCDCD;
}

#cartPage td.invert-image a img {
    width: 30%;
    margin: 0 auto;
}

#cartPage .rem {
    position: relative;
}




/*-- quantity-starts --*/

#cartPage .value-minus,
#cartPage .value-plus {
    height: 40px;
    line-height: 24px;
    width: 40px;
    margin-right: 3px;
    display: inline-block;
    cursor: pointer;
    position: relative;
    font-size: 18px;
    color: #fff;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    border: 1px solid #b2b2b2;
    vertical-align: bottom;
}

#cartPage .quantity-select .entry.value-minus:before,
#cartPage .quantity-select .entry.value-plus:before {
    content: "";
    width: 13px;
    height: 2px;
    background: #000;
    left: 50%;
    margin-left: -7px;
    top: 50%;
    margin-top: -0.5px;
    position: absolute;
}

#cartPage .quantity-select .entry.value-plus:after {
    content: "";
    height: 13px;
    width: 2px;
    background: #000;
    left: 50%;
    margin-left: -1.4px;
    top: 50%;
    margin-top: -6.2px;
    position: absolute;
}

#cartPage .value {
    cursor: default;
    width: 40px;
    height: 40px;
    padding: 8px 0px;
    color: #A9A9A9;
    line-height: 24px;
    border: 1px solid #E5E5E5;
    background-color: #E5E5E5;
    text-align: center;
    display: inline-block;
    margin-right: 3px;
}

#cartPage .quantity-select .entry.value-minus:hover,
#cartPage .quantity-select .entry.value-plus:hover {
    background: #E5E5E5;
}

#cartPage .quantity-select .entry.value-minus {
    margin-left: 0;
}


/*-- quantity-end --*/

#cartPage .checkout-right h4,
#cartPage #cartPage .address_form h4 {
    font-size: 1.1em;
    margin: 1em 0;
    letter-spacing: 1px;
    color: #888;
}
#cartPage .checkout-left{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#cartPage .s1{
    margin-right: 30px;
}
#cartPage .checkout-left-basket h4 {
    padding: 1em;
    background: #fb383b;
    font-size: 1em;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin: 0 0 2em;
}

#cartPage .checkout-left {
    margin: 2em 0 0;
}

#cartPage .checkout-left-basket ul li {
    list-style-type: none;
    margin-bottom: 1em;
    font-size: 14px;
    color: #999;
}

#cartPage .checkout-left-basket {
    float: left;
    padding-left: 0;
}

#cartPage .checkout-right-basket {
    float: right;
    margin: 3em 0em;
    width: 100%;
}

#cartPage .checkout-left-basket ul li span {
    float: right;
}

#cartPage .checkout-left-basket ul li:nth-child(5) {
    font-size: 1em;
    color: #212121;
    font-weight: 600;
    padding: 1em 0;
    border-top: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
    margin: 2em 0 0;
}

#cartPage .checkout-right-basket a {
    padding: 10px 20px;
    color: #fff;
    font-size: 1em;
    background: #212121;
    text-decoration: none;
}

#cartPage .checkout-right-basket a:hover {
    background: #fb383b;
}

#cartPage .checkout-right-basket a span {
    left: -.5em;
    top: 0.1em;
}

#cartPage .checkout {
    padding: 5em 0;
}

#cartPage .address_form {
    float: right;
}

#cartPage .information-wrapper input {
    width: 100%!important;
}

#cartPage .check_box_one.cashon_delivery {
    float: left;
    width: 100%;
    margin-bottom: 10px;
}
@media(max-width:750px){
    #cartPage .checkout-left{
        display: flex;
        flex-direction: column;
    }
    #cartPage .s1{
        margin-right: 0;
    }
    #cartPage .form-detail {
        display: flex;
        flex-direction: column;
    }
}
#cartPage #list-total1{
    padding: 0;
    margin: 0;
}
#cartPage .checkout-left{
    max-width: 100%;
}
/*-- checkbox --*/

#cartPage .agileits-login label {
    font-size: 1em;
    color: #000;
    letter-spacing: 0.5px;
    font-weight: 400;
    cursor: pointer;
    position: relative;
}

#cartPage input.checkbox {
    background: #212121;
    cursor: pointer;
    width: 1.2em;
    height: 1.2em;
    display: inline-block;
    margin: 0 5px 0 0;
    vertical-align: text-bottom;
}

#cartPage input.checkbox:before {
    content: "";
    position: absolute;
    width: 1.2em;
    height: 1.2em;
    background: inherit;
    cursor: pointer;
}

#cartPage input.checkbox:after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0;
    z-index: 1;
    width: 1.2em;
    height: 1.2em;
    border: 1px solid #fff;
    -webkit-transition: .4s ease-in-out;
    -moz-transition: .4s ease-in-out;
    transition: .4s ease-in-out;
}

#cartPage input.checkbox:checked:after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    height: 1.2em;
    border-color: #fff;
    border-top-color: transparent;
    border-right-color: transparent;
}

#cartPage .anim input.checkbox:checked:after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    height: .6em;
    border-color: transparent;
    border-right-color: transparent;
    animation: .4s rippling .4s ease;
    animation-fill-mode: forwards;
}

@keyframes rippling {
    50% {
        border-left-color: #fff;
    }
    100% {
        border-bottom-color: #fff;
        border-left-color: #fff;
    }
}

#cartPage .vertical_post.check_box_agile {
    padding-bottom: 1em;
}

#cartPage .checkbox input[type="checkbox"],
#cartPage .checkbox-inline input[type="checkbox"] {
    margin-left: -29px;
}


/*-- //checkout --*/

#cartPage .check_tab2 input[type="email"],
#cartPage .check_tab2 input[type="password"],
#cartPage .creditly-wrapper .form-control {
    display: block;
    width: 95.5%;
    padding: 15px 10px;
    font-size: 14px;
    color: #212121;
    background: #fff;
    border: 1px solid #e7e7e7;
    margin-bottom: 25px;
    outline: none;
}



#cartPage .pay_info {
    padding: 3em 2em;
}


#cartPage .pay_info input[type="email"],
#cartPage .pay_info input[type="password"],
#cartPage .creditly-wrapper .form-control {
    display: block;
    width: 95.5%;
    padding: 15px 10px;
    font-size: 14px;
    color: #212121;
    background: #fff;
    border: 1px solid #e7e7e7;
    margin-bottom: 25px;
    outline: none;
}

#cartPage .pay_info input[type="email"]:focus,
#cartPage .pay_info input[type="password"]:focus,
#cartPage .creditly-wrapper .form-control:focus {
    border-color: #66afe9;
    outline: 0;
}

#cartPage .pay_info input[type="submit"] {
    display: block;
    position: relative;
    padding: 12px 50px 12px;
    letter-spacing: 3px;
    background: #080808;
    font-size: 1em;
    color: #fff;
    border: 1px solid #080808;
    outline: none;
    text-transform: uppercase;
    cursor: pointer;
}

#cartPage .pay_info input[type="submit"]:hover {
    background: #fb383b;
    border: 1px solid #fb383b;
}

#cartPage .agileinfo_main_grid_left_grid h3 {
    font-size: 1.3em;
    color: #fff;
}

#cartPage .agileinfo_main_grid_left_grid ul {
    margin-top: 1.5em;
}

#cartPage .agileinfo_main_grid_left_grid ul li {
    display: inline-block;
    color: #fff;
    font-weight: bold;
    font-size: 2em;
    vertical-align: top;
}

#cartPage .agileinfo_main_grid_left_grid ul li span {
    display: block;
    font-size: .5em;
    color: #999;
}

#cartPage .agileinfo_main_grid_left_grid ul li:first-child {
    width: 70%;
    border-right: 1px solid #999;
}

#cartPage .agileinfo_main_grid_left_grid ul li:last-child {
    padding-left: 1em;
    text-align: right;
}

#cartPage .agile_amount {
    padding: 1em 2em;
    background: #f71926;
}

#cartPage .agile_amount h3 {
    font-size: 1.3em;
    color: #fff;
}

#cartPage .agile_amount h4 {
    font-size: 2em;
    color: #fff;
    font-weight: bold;
}

#cartPage .agile_amount p {
    font-size: 1em;
    color: #1adeed;
    line-height: 1.8em;
}

#cartPage img.pp-img {
    width: 65%;
}

#cartPage .tab-grid p {
    color: #8B8B8B;
    font-size: 0.95em;
    line-height: 1.8em;
    font-weight: 400;
    margin: 10px 0;
}

#cartPage a.btn.btn-primary {
    background-color: #3a5795;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    border: none;
}

#cartPage .vertical_post h5 {
    color: #212121;
    font-size: 15px;
    margin: 0 0 18px 0;
    letter-spacing: 1px;
}

#cartPage .swit-radio label {
    font-size: 16px;
    color: #696969;
    padding: 0px 0 0 10px;
    font-weight: 100;
}

#cartPage .radio_one:first-child {
    margin-left: 0;
    margin: 0;
}

#cartPage .radio_one {
    padding-left: 22px;
    line-height: 28px;
    color: #404040;
    cursor: pointer;
}

#cartPage .radio_one {
    position: relative;
    display: inline-block;
    margin-left: 15px;
}

#cartPage .section_room_pay select {
    padding: 6px 10px;
    width: 33%;
    border: none;
    background: none;
    border: 1px solid #E6E4E4;
    color: #D2D1D1;
    outline: none;
    font-size: 16px;
    margin-bottom: 0;
    background:#fff;
    background-size: 4% !important;
    -webkit-appearance: none;
}

#cartPage select.form-control.option-w3ls {
    width: 100%;
    padding: 1em 1em 1em 1em;
    font-size: 0.8em;
    margin: 0.5em 0;
    outline: none;
    color: #212121;
    border: none;
    border: 1px solid #ccc;
    letter-spacing: 1px;
    text-align: left;
}

#cartPage .checkout-right-basket span {
    margin-left: 1em;
}

#cartPage .check_box_one {
    float: left;
    width: 22%;
    margin-bottom: 10px;
}

#cartPage .form-control {
    border-radius: 0;
}

#cartPage .btn-primary {
    color: #fff;
    background-color: #84c639;
    border-color: #84c639;
    border-radius: 0;
}

#cartPage button.submit.check_out {
    display: block;
    position: relative;
    padding: 11px 30px;
    letter-spacing: 1px;
    background: #212121;
    font-size: 1em;
    color: #fff;
    font-weight: 600;
    border: none;
    outline: none;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    text-transform: uppercase;
}

#cartPage .section_room_pay {
    margin-bottom: 2em;
}


/*-- //Pay-page --*/
#cartPage .closeItem{
    cursor: pointer;
}
#cartPage .money{
    position: relative;
    background-color: red;
}
#cartPage .s2{
    min-width: 50%;
}
#cartPage .form-detail {
    display: flex;
    justify-content: space-between;
}

#cartPage .form-detail .control-custom {
    font-size: 14px;
    color: #868686;
    width: 97%;
    margin-top: 30px;
}

#cartPage .form-detail .group {
    position: relative;
}

#cartPage .form-detail input {
    display: block;
    padding: 14px 0;
    border: none;
    border-bottom: 1px solid #d8d8d8;
    margin-top: 26px;
}

#cartPage .form-detail textarea {
    display: block;
    border: none;
    border-bottom: 1px solid #d8d8d8;
}

#cartPage .form-detail label {
    font-size: 14px;
    color: #868686;
    position: absolute;
    pointer-events: none;
    left: 0;
    top: 0px;
}

#cartPage input:focus,
#cartPage textarea:focus {
    outline: none;
}

#cartPage .form-detail .bar {
    position: relative;
    display: block;
    width: 97%;
}

#cartPage .bar::before,#cartPage .bar::after {
    content:"";
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: red;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}
#cartPage .control-custom{
    padding-top: 10px;
}
#cartPage .bar::before {
    left:50%;
}

#cartPage .bar::after {
    right:50%;
}

#cartPage .form-detail input:focus ~ .bar::before,
#cartPage .form-detail input:focus ~ .bar::after,
#cartPage .form-detail textarea:focus ~ .bar::before,
#cartPage .form-detail textarea:focus ~ .bar::after {
    width:50%;
}
#cartPage .form-detail input:focus ~ label,
#cartPage .form-detail input:valid ~ label,
#cartPage .form-detail textarea:focus ~ label,
#cartPage .form-detail textarea:valid ~ label {
    top: -16px;
    color: black;
}
#cartPage .s2 h2{
    margin-top: 0;
    text-align: center;
}

