#detailNews{
    display: flex;
    gap: 10px;
}
.l-detailNews{
    margin-top: 20px;

}
.l-detailNews p {
    font-size: 14px;
}.l-detailNews .item-cate-news{
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.item-new{
    width: 100%;
    display: flex;
    gap: 20px;
}
.item-new img{
    width: 400px;
}
.item-new .title a{
    color: black;
    font-size: 17px;
    font-weight: bold;
}
.box-search-head-element label{
    margin: 0;
}