.container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loading{
    width: 300px;
    height: 300px;
}
.wrapper {
    width: 500px;
    height: 700px;
}

.uploadImg {
    display: block;
    /* padding: 70px 0; */
    color: #888888;
    height: 100%;
    background: #F0F0F0;
    border-radius: 4px;
    font-size: 14px;
    line-height: 20px;

}

.list-thumb-gallery {
    display: flex;
    align-items: center;
}

.imgContainer {
    width: 180px;
    height: 134px;
}

.imgContainer > img {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    border: none;
    overflow: hidden;
}

.add-img {
    border: none !important;
    border-radius: 4px;
}