* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

.box-fillter {
    margin-top: 30px;
    width: 100%;
    margin: 0 0 10px;
}

.box-fillter .item-fillter:nth-child(1) {
    width: 90px;
}

.box-fillter .item-fillter:nth-child(1) {
    width: 35px;
    padding: 0 10px;
    text-align: center;
}

.box-fillter .item-fillter {
    width: 140px;
    margin-right: 10px;
    background: #FFF;
    border: 1px solid #E1E1E1;
    border-radius: 4px;
    padding: 0 18px 0 6px;
    line-height: 34px;
    position: relative;
    height: 34px;
    float: left;
    margin-right: 5px;
}

.item-fillter {
    cursor: pointer;
}

.container-content {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: auto;
    width: 100%;
    gap: 50px;
}

.Container-left {
    width: 65%;
}

.Container-right {
    height: auto;
    flex: 1;
}

.input-text {
    margin-top: -15px;
}

.hide {
    display: none;
}

.spinner-grow {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    vertical-align: -0.125em;
    background-color: currentColor;
    border-radius: 50%;
    opacity: 0;
    -webkit-animation: .75s linear infinite spinner-grow;
    animation: .75s linear infinite spinner-grow;
}

.loading {
    width: 100%;
    height: 40px;
    text-align: center;
}

/*.list-link-c li h3{*/
/*    font-size: 15px;*/
/*    font-weight: 700;*/

/*}*/
.container-menu {
    position: absolute;
    z-index: 100;
    right: 0;
    width: 300px;
    background: white;
    border: 1px solid #333;
    border-radius: 5px;
    padding: 0 20px;
    top: 100px;
}

.container-menu li {
    cursor: pointer;
    padding: 5px 0;
}

.container-menu h2 {
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

.form-control {
    margin-top: 10px;
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
}

.form-control:focus {
    border: 2px solid #56A1EE;
}

.list-group {
    padding-left: 0;
    margin-bottom: 20px;
}

#item-more {
    cursor: pointer;
}

@keyframes spinner-grow {
    0% {
        transform: scale(0);
    }

    50% {
        opacity: 1;
        transform: none;
    }
}
