.inp:focus {
    border: 1px solid #56A1EE;
}
.group-bt.two-bt .btn-send {
    float: right;
    background: #4DB848;
}
.clear{
    color: #56A1EE;
    margin-left:200px;
    cursor: pointer;
}
.form-select {
    display: block;
    width: 100%;
    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
    -moz-padding-start: calc(0.75rem - 3px);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.form-select{
    z-index: 0;
}
.year-item{
    border-radius: 15px;
}
.select_kt{
    width: 150px;
    padding: 5px;
}
.main_kt{
    position: relative;
    margin-bottom: 20px;

}
.main_kt label{
    background-color: white;
    padding: 0 10px;
    position: absolute;
    top: -10px;
    left: 10px;
}
