.footer {
    background: url(https://img1.oto.com.vn/2020/05/20/tGb7VGse/footer-bg-a960.jpg) center no-repeat;
    background-size: cover;
    padding-top: 30px;
    padding-bottom: 80px;
    color: #fff;
    font-size: 14px;
    display: inline-block;
    width: 100%;
}
.footer a{
    color: white;
}
.footer .f-top_menu{
    display: flex;

}
.footer .f-title{
    font-size: 20px;
}


.footer .f-menu{
    list-style-type: none;
    padding: 0;
    color: white;
}
.footer .f-menu a{

    color: white;
}
.footer .f-menu a:hover{

    color: white;
    text-decoration: none;
}
.footer{

}
.footer .f-social{
    display: flex;
    flex-direction: column;
    font-size: 20px;

    color: white;
    flex-wrap: wrap;


}
.footer .f-social a{
}
.footer .f-social .circle{
    padding: 5px    ;

}
.footer .f-social .circle i{
    color:  #135EAC;


}
.footer .f-social a:hover{
    color: white;
    text-decoration: none;
}
.footer .f-social span.txt{
    font-size: 16px;
}

.footer .f-top_infomation .top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer .elm_left .info-title{
    font-size: 22px;
}
.footer .elm_right{
    margin-top: 15px;
}
.footer .elm_right a{
    color: white;
    font-size: 16px;
}
.footer .mt-5{
    margin-top: 0;
}
.footer .footer .line{
    height: 1px;
    background-color: #56A1EE;
    margin: 20px 0 15px 0;
}
@media only screen and (max-width: 940px) {
    .footer .f-top_menu{
        display: block;


    }
}